.input {
  width: 100%;
  padding: 12px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #cdd5d9;
  font-size: 16px;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
  &:focus {
    border: 1px solid #a2bfd2;
    transition: all linear .2s;
  }
  &:not(:focus) {
    background-color: #fafafa;
  }
  &:not([value=""]) {
    background-color: white;
  }
}
