.item {
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: #f5f5f5;
  }
}
