.dropdown {
  position: absolute;
  width: 100%;
  max-height: 150px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
  transition: opacity 0.1s ease-in-out;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.show {
  visibility: visible;
  opacity: 1;
}
