.reset {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.show {
  visibility: visible;
  opacity: 1;
}
